body {
    max-width: 1024px;
    
}

#menu {
    text-align: center;
    font-size: 2em;
    width: 90%;
    float:left;
}

#social{
    float: right;
    
    font-size: 2em;
    width: 90%;
}

main{
    float: left;
}

main h1{
    text-align: center;
}

#mainSocial {
float: left;
}