* {
  box-sizing: border-box;
}

:root {
  
  --kelly-green: #68C106ff;
  --dogwood-rose: #D80069ff;
  --celadon-green: #118A81ff;
  --deep-jungle-green: #09514Aff;
  --tea-green: #C2D5A1ff;

  --cambridge-blue: #A2CCBBff;
  --barbie-pink: #D92680ff;
  --rosso-corsa: #C90101ff;
  --indigo: #4C006Aff;
  --acid-green: #BFCB02ff;

  /* 
  ==========================
    PRIMA PALETTE logo2.jpg
  ==========================
  */
  
  /*--bodyColor: #fff;
  --textColor: #000;
  --h1Color: #000;
  --linksDivColor: #09514Aff;
  --linkBgColor: #118A81ff;
  --linkTextColor: #000;
  --linkHoverColor: #D80069ff;
  --headerBgColor: #68C106ff;
  --mainBgColor: #C2D5A1ff;
  --footerBgColor: #68C106ff;*/

  /* 
  ==========================
    SECONDA PALETTE logo.jpg
  ==========================
  */

  /*--bodyColor: #fff;
  --textColor: #000;
  --h1Color: #000;
  --linksDivColor: #4C006Aff;
  --linkBgColor: #C90101ff;
  --linkTextColor: #000;
  --linkHoverColor: #D80069ff;
  --headerBgColor: #BFCB02ff;
  --mainBgColor: #A2CCBBff;
  --footerBgColor: #BFCB02ff;*/

  /* 
  ==========================
    TERZA PALETTE
  ==========================
  */

  --bodyColor: #fff;
  --textColor: #000;
  --h1Color: #000;
  --linksDivColor: #897170;
  --linkBgColor: #7F4040;
  --linkTextColor: #000;
  --linkHoverColor: #7F8954;
  --headerBgColor: #7F4040;
  --mainBgColor: #BFA5A4;
  --footerBgColor: #7F4040;
}

/*@font-face {
    font-family: "nightofthedrippy";
    src: url('fonts/vtc nightofthedrippybentcaps.ttf') format('truetype');;
  }*/

/* Style the body */
body {
  font-family: "nightofthedrippy", Arial;
  margin: auto;
  max-width: 1024px;
  background-image: url("");
  background-color: var(--bodyColor); /*if background image is not found, this will be used*/
  color: var(--textColor); 
}

a:link, a:visited {
  background-color: var(--linkBgColor);
  color: var(--linkTextColor);
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: var(--linkHoverColor);
}

/*HEADER*/

/* Header/logo Title */

header {
  background-color: var(--headerBgColor);
}

header h1 {
  background-image: url("images/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -999em;
  text-align: center;
  font-size: 10em;
  margin: 0em 0em;
  color: var(--h1Color);
}

#links {
  display: flex;
  justify-content: space-between;
  background-color: var(--linksDivColor);
}

li {
  list-style: none;
  text-decoration: none;
}

#links ul {
  display: flex;
  align-items: stretch;
  padding-left: 0;
  text-align: center;
}

#links li {
  padding: 1em;
}

#menu ul {
  justify-content: flex-start;
}

#social ul {
  justify-content: flex-end;
}

/* Main column */
main {
  flex: 100%;
  padding: 2em;
  background-color: var(--mainBgColor);
}

main h2, main h3 {
  text-align: center;
  margin: auto;
}

main h2 {
  font-size: 3em;
}

main h3 {
  font-size: 2em;
}

#mainSocial {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

#mainSocial li {
  text-align: center;
  list-style: none;
}

#linkmenu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 5px;
  text-align: center;
  vertical-align: top;
  font-size: 1em;
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
}

/* Footer */
footer {
  padding: 1em;
  text-align: center;
  background: var(--footerBgColor);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  #mainSocial, #links, #social ul, #menu ul {
    flex-direction: column;
  }
}