* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  header h1 {
    text-align: center;
    color: black;
    font-size: 4em;
  }

  #links{
    display: flex;
   
    justify-content: space-between;
  }
  
  /* Style the top navigation bar */
  #menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
    text-align: center;
  }
  
  /* Style the navigation bar links */
  #menu li {
    list-style: none;
    
    color: black;
    padding: 1em;
    text-decoration: none;
    
  }
  
  /* Change color on hover */
  #menu li:hover {
    background-color: #ddd;
    color: black;
  }
  
  #social ul{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;    
    text-align: center;
  }
  
  /* Style the navigation bar links */
  #social li {
    list-style: none;
    
    color: black;
    padding: 1em;
    text-decoration: none;
    
  }
  
  /* Main column */
  main {
    flex: 100%;
    background-color: white;
    padding: 2em;
  }

  main h2, main h3{
    text-align: center;
  }
  
  #mainSocial{
    display: flex;
    justify-content:center;
  }

  #mainSocial li{
    text-align: center;
    list-style: none;
  }

  /* Footer */
  footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    #mainSocial, #links, #social ul, #menu ul{   
      flex-direction: column;
    }
  }

